<section class="todo-list">
    <ul>
        <li>
          <input type="checkbox">
          <input type="text">
          <button >
            <img src="assets/icons/icon-trash.svg" alt="Apagar tarefa">
        </button>          
        </li>
    

    <li>
        <input type="checkbox">
        <input type="text" class ="checked">
        <button >
            <img src="assets/icons/icon-trash.svg" alt="Apagar tarefa">
        </button>          
      </li>


    </ul>


    <!-- <button >
        <img class = "icone" src="assets/icons/trash.png" alt="Apagar tarefa">
    </button> -->
    <!-- <button>
        <img src="assets/icons/plus.svg" alt="Adicionar tarefa">
    </button>
    <button>
        <img src="assets/img/delete.svg" alt="Deletar todas as tarefas">
    </button> -->


</section>    
<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all></app-todo-button-delete-all>
