<section [ngClass]="{'loading': !tasks.length }">
    <ul *ngIf ="tasks.length">
        <li *ngFor="let item of tasks; let i = index">
          <input type="checkbox" [(ngModel)] = item.checked>
          <input type="text" (keyup)="validatationInput(item.task, i)" [(ngModel)] = item.task 
          [ngClass]="{'checked' : item.checked}">
        <button (click) = "deleteTask(i)">
            <img src="assets/icons/icon-trash.svg" alt="Apagar tarefa">
        </button>
        </li>
    </ul>
</section>
  
<app-todo-input-add-itens (taskEmissor)="addTask($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf ="tasks.length" (click)="deleteAllTasks()"></app-todo-button-delete-all>

  